.menu {
  display: flex;
  column-gap: 40px;
  align-items: center;

  &__items {
    display: flex;
    column-gap: 25px;
  }

  &__link {
    @apply text-light-400;
    font-size: 14px;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -3px;
      left: 0;
      background: linear-gradient(270deg, #986dff 0%, #17161d 100%);
      transform-origin: bottom right;
      transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  li {
    &:first-child {
      a {
        @apply text-light-900;

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
.logo {
  a {
    color: #fff;
  }
}
//language
.language {
  display: flex;

  button {
    background: none;
    border: none;
    color: #fff;
    padding-right: 9px;
    position: relative;
    opacity: 0.6;
    cursor: pointer;

    &::after {
      content: '|';
      opacity: 0.6;
      position: absolute;
      right: 4.5px;
      transform: translateX(50%);
      top: -1px;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        right: 0;
        color: black;
      }
    }
  }

  .language__active {
    opacity: 1;
  }
}
