.projects {
	padding-top: 88px;
	padding-bottom: 65px;
	background-color: rgb(20 14 33);

	h2 {
		text-align: center;
		margin-bottom: 56px;
	}
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.item {
	max-width: 365px;

	h5 {
		margin-bottom: 15px;

	}

	p {
		text-align: center;
		font-size: 14px;
		margin-bottom: 24px;
	}
	button {
		width: 100%;
	}
}
.image {
	overflow: hidden;
	max-height: 275px;
	margin-bottom: 10px;

	img {
		width: 100%;
	}
}
