* {
	padding: 0;
	margin: 0;
	list-style: none;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	min-height: 100%;
	flex: 1;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.articles {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	margin-top: 40px;
}
.articles-item {
	&__top {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	&__link {
		display: block;
		width: fit-content;
		margin-left: auto;
		color: black;
	}
}
