* {
	padding: 0;
	margin: 0;
	list-style: none;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	min-height: 100%;
	flex: 1;
}

//add style

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.min-cont {
	max-width: 1120px;
	width: 100%;
	padding: 0px 15px;
}
// vars
:root {
	--white: #fff;
	--grey-light: #d9d9d9;
}
