@import './vars.scss';
@import './style.scss';

* {
	padding: 0;
	margin: 0;
	list-style: none;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(134deg, rgb(15 16 21), #1d0a36 73.2%);
}
main {
	min-height: 100%;
	flex: 1;
}
