.banner {
	height: 650px;
	background-image: url('../../assets/images/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		background-color: rgba(black, .6);
		//background-image: url('../../assets/images/bg-top.png');
	}
}
.content {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text {
	display: flex;
	flex-direction: column;
	row-gap: 29px;
	width: 100%;
	max-width: 493px;
}
