.banner {
  @apply md:h-screen flex items-center justify-center relative p-3;
}

.content {
  position: relative;
  justify-content: space-between;
  @apply p-4 md:p-10 my-20 md:my-24 md:flex bg-dark-700 border border-primary-700 gap-7;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 493px;
  @apply md:pt-12 gap-8 mb-10 md:mb-0 md:min-w-[320px];
}
