.banner {
  @apply h-screen flex items-center justify-center relative;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  @apply p-10 my-24 bg-dark-700 border border-primary-700 gap-7;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 493px;
  @apply pt-12 gap-8;
}
